<?xml version="1.0"?>
<launch>  	
	
	<arg name="id_robot" default="$(optenv ROBOT_ID kuka_tool)"/>
	
	<group ns="$(arg id_robot)">
	
		<arg name="prefix" value="$(arg id_robot)_"/>		

		<!-- start robot_state_publisher - publish fixed transforms, load robot model to param server -->
		<include file="$(find kuka_tool_description)/launch/gripper_description_motor.launch"/>			
		
		<!-- start robotnik_base_hw -->
		<include file="$(find robotnik_base_hw)/launch/robotnik_base_hw.launch"/>
		
		<!-- start rb1_base_control -->
		<include file="$(find kuka_tool_control)/launch/kuka_tool_control.launch"/>		
	
	</group>
	  	

</launch>
